*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.box{
    display: flex;
}
p{
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: light;
    color: rgba(32, 50, 57, 55%);
}
/* Nav Part Start */
.navbar{
    background: #EEEDDE;
    padding-top: 57px;
}
.navbar ul {
  
    column-gap: 100px;
}
.navbar ul li{
    font-size: 16px;
    font-family: "Poppins", serif;
    color: #203239;
    font-weight: light;
    border: 2px solid transparent;
    transition: .4s;
}
.navbar ul li:hover{
    border-bottom: 2px solid #FF7527;
    
}
/* Nav Part end */
/* Banner Part Start */
.banner-part{
    background: #EEEDDE;
    padding-top: 40px;
}
.banner-part .info-part h1{
    width: 100%;
    font-size: 54px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: rgba(32, 50, 57,100%);
    padding-top: 60px;
}
.banner-part .info-part p{
    width: 75%;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: light;
    color: rgba(32, 50, 57, 55%);
    padding-top: 24px;
    padding-bottom: 56px;
}
.banner-part .info-part form {
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.input-field{
    position: relative;
    margin: 10px 0;
}
.banner-part .info-part form input{
    width: 85%;
    height: 65px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 15px;

}
.banner-part .info-part label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: "Poppins", serif;
    color: rgba(32, 50, 57, 55%);
    pointer-events: none;
    transition: 0.15s ease;
    margin-left: 15px;
}
.banner-part .info-part label i{
    margin-right: 10px;
    color: #203239;
}
.input-field input:focus~label, 
.input-field input:valid~label{
    top: 10px;
    transform: translateY(-150%);
}
.banner-part .info-part form .button a {
    display: inline-block;
    background: rgba(32, 50, 57,100%);
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 400;
    padding: 11px 36px;
    border-radius: 10px;
    --webkit-box-shadow: -1px 5px 5px -6px rgba(32,50,57,0.61);
    -moz-box-shadow: -1px 5px 5px -6px rgba(32,50,57,0.61);
    box-shadow: -1px 5px 5px -6px rgba(32,50,57,0.61);
    position: absolute;
    top: 20px;
    right: 120px;
}

.info-part .info{
  padding-top: 56px;
}
.info-part .info h3 {
    font-size: 56px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: rgba(32, 50, 57, 100%);
    letter-spacing: -4px;
}
.info-part .info h3 span{
   color: #FF7527;
}
.info-part .info p{
    width: 55%;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: light;
    color: rgba(32, 50, 57, 55%);
}
/* Banner Part end */
/* Cart Part start */
.cart-part{
    padding: 50px 0;
}
.cart-part .card-body{
    position: relative;
}
.cart-part .card-body {
    border: 1px solid transparent;
    border-radius: 10px;
}
.cart-part .card-body:hover {
    border: 1px solid rgba(32, 50, 57, 55%);
    border-radius: 10px;
}
.cart-part h2 {
    width: 47%;
    font-size: 36px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: rgba(32, 50, 57,100%);
    padding-top: 60px;
}
.cart-part .card-info{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    position: relative;
}
.cart-part .card-info h5{
    padding-left: 8px;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: rgba(32, 50, 57,100%);
}
.cart-part .card-info p{
    padding-left: 8px;
    width: 96%;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: light;
    color: rgba(32, 50, 57,55%);
    line-height: 30px;
    padding-bottom: 30px;
}
.card-info .arrow{
    position: absolute;
    bottom: 5px;
}
.cart-part .card-info h6{
    padding-left: 8px;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 300;
    color: rgba(32, 50, 57,100%);
}
.cart-part .card-info h6 span{
    background: rgba(32, 50, 57,55%)
}
.cart-part .card-info i{
    padding-left: 10px;
}
.cart-part .card-info .line{
    width: 8px;
    height: 30px;
    background: #FF7527;
    border-radius: 8px;
    position: absolute;
    top: 12px;
    left: 0;
}
.cart-part .heading {
    display: flex;
    justify-content: space-between;
}
 .cart-part .card-info .number{
    color: #FF7527;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 400;
} 
/* Cart Part end */
/* Favorit Part start */
.favorit {
    background: #EEEDDE;
    padding: 40px 0;
    padding-bottom: 170px;
}
.common-heading p{
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #FF7527;
}
.common-heading h3{
    font-size: 36px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: rgba(32, 50, 57,100%);
}
.favorit .image-part{
    width: 80%;
    max-width: 100%;
    padding-top: 60px;
    position: relative;
}
.favorit .image-part .image1{
    width: 100%;
    display: block;
}
.favorit .image-part .image1 .img1{
    width: 80%;
}
.favorit .image-part .image2 {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 100%;
}
.favorit .image-part .image2 .img2{
    width: 100%;
    height: auto;
}
.favorit .info-part h4{
    font-size: 36px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: rgba(32, 50, 57,100%);
    padding-top: 60px;
}
.favorit .info-part p{
    width: 100%;
    font-size: 15px;
    font-family: "Poppins", serif;
    font-weight: light;
    color: rgba(32, 50, 57,100%);
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 48px;
}
.favorit .info-part .button{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    
}
.favorit .info-part .button1 a{
   
    color: rgba(32, 50, 57,100%);
    border: 1px solid black;
    border-radius: 10px;
    padding: 13px 40px;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 500;
}
.favorit .info-part .button1 a:hover{
    background: rgba(32, 50, 57,100%);
    color: #FFFFFF;
}
.favorit .info-part .button1  a i{
   padding-right: 8px;
}
.favorit .info-part .button2 a{
 
    color: #FFFFFF;
    background: rgba(32, 50, 57,100%);
    border: 1px solid black;
    border-radius: 10px;
    padding: 13px 40px;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 500;
}
/* Favorit Part end */
/* Berbagai Part start */
.berbagai{
    padding: 50px 0;
}
.berbagai .box{
    width: 100%;
    justify-content: space-between;
}
.berbagai .common-heading{
    width: 70%;
}
.berbagai .box .slide-ber {
    width: 25%;
    position: relative;

  
}
.berbagai .box .slide-ber .slide-icon {
    position: absolute;
    top: 45%;
    right: 20%;
    display: flex; 
    gap: 20px;      
}
.berbagai .box .slide-ber .slide-icon span {
    padding: 7px 10px;
    border-radius: 6px;      
}
.berbagai .box .slide-ber .slide-icon span:first-child {
    color: rgba(255, 117, 39, 55%);
    rotate: 180deg;
    border: 1px solid rgba(32, 50, 57,55%);       
}
.berbagai .box .slide-ber .slide-icon span:last-child {
    color: #FF7527;
    border: 1px solid rgba(32, 50, 57,55%);       
}
.berbagai .box .slide-ber .slide-icon span:last-child:hover {
    background: rgba(32, 50, 57,25%);       
}
.berbagai .info{
    padding-top: 30px;
}
.berbagai  .info .image{
    width: 95%;
    height: 400px;
   
}
.berbagai .info .image img{
    width: 100%;
    height: 100%;
}
.berbagai .info h5{
    font-size: 24px;
    font-family: "Poppins", serif;
    font-weight: 400;
    color: rgba(32, 50, 57, 100%);
    padding-top: 25px;
}
/* Berbagai Part end */
/* Hubungi Part end */
.hubungi{
    padding: 50px 0;
    background: #EEEDDE;
}
.hubungi h4{
    font-size: 36px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: rgba(32, 50, 57, 100%);
    padding-bottom: 35px;
}
.hubungi .box{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.hubungi .call{
   border: 1px solid rgba(255, 117, 39,20%);
   border-radius: 10px;
   padding: 20px 27px;
}
.hubungi .call p:first-child{
    font-weight: 500;
}
.hubungi .call .info{
   display: flex;
   align-items: center;
   column-gap: 20px;
}
.hubungi .call .info i{
   font-size: 30px;
}
.hubungi .button {
    padding-top: 15px;   
}
.hubungi .button a{
    color: white;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 500;
    background: rgba(255, 117, 39,100%);
    padding: 13px 60px;
    border-radius: 10px;
    border: 1px solid rgba(32, 50, 57, 30%);
    width: 90%;
    margin: 0 auto;    
}
.hubungi .button a:hover{
    background: rgba(32, 50, 57, 30%);    
}
/* Hubungi Part end */
/* footer Part start */
.footer{
    background: #203239;
    padding: 15px 0;
}
.footer .icon ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
    justify-content: flex-end;
}
.footer .icon ul li{
    font-size: 24px;
    color: white;
}

/* footer Part end */